/*
 * Outbrain.css file
 */

#outbrain_lang_span {
  width: 100%;
}

#outbrain_lang_span {
  cursor: default;
  font-weight: bold;
}

#outbrain_select_lang {
  padding-left: 10px;
  width: 200px;
}

#outbrain_cant_see {
  padding-left: 20px;
}

#claiming_after_comment {
  color: blue;
}

.outbrain-form-send {
  margin-left: 10px;
}

#outbrain_lang_span {
  margin: 9px 0 0 15px;
}
